@page
@model Airline_Reservation_System.Pages.Admin.CreateFlightModel
@{
}

<div>
    <!-- Background image container -->
    <div style="background-image: url('/images/Home_Background.PNG?v=1');
               position: absolute;
               padding: 20px;
               width: 100vw;
               height: 100vh;
               background-size: cover;
               background-position: center;
               background-repeat: no-repeat;">
      
        
        <div class="text-center d-flex flex-column"
             style="max-width: 500px;
            min-width:60vw;
            
            margin: 50px auto;
            padding: 20px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-height: 90vh; 
            ">
            <h2 style="margin-bottom: 20px;width:100%">Add Flight</h2>
            <form>

                <div class="d-flex justify-content-between mb-3">
                    <div class="form-group flex-fill me-2">
                        <label for="aircraft">Aircraft Model</label>
                        <select class="form-control mb-2" id="aircraft" required>
                            <option value="" disabled selected>Select Aircraft</option>
                            <option value="1">Boieng 772</option>
                            <option value="2">Airbus 220</option>
                            <option value="3">Boeing 1221</option>
                        </select>
                    </div>
                    <div class="form-group flex-fill">
                        <label for="status">Status</label>
                        <select class="form-control mb-2" id="status" required>
                            <option value="" disabled selected>Select Status</option>
                            <option value="1">On Ground</option>
                            <option value="2">Delayed</option>
                            <option value="3">Departed</option>
                        </select>
                    </div>
                </div>
                <!-- Two inputs in one row -->
                <div class="d-flex justify-content-between mb-3">
                    <div class="form-group  me-2" style="width:50%">
                        <label for="toairport">Destination Airport</label>
                        <select class="form-control mb-2" id="toairport" required>
                            <option value="" disabled selected>Select Airport</option>
                            <option value="1">Cairo Airport</option>
                            <option value="2">Luxor Airport</option>
                            <option value="3">Paris Airport</option>
                        </select>
                    </div>
                    <div class="form-group flex-fill">
                        <label for="fromairport">Leaving Airport</label>
                        <select class="form-control mb-2" id="fromairport" required>
                            <option value="" disabled selected>Select Airport</option>
                            <option value="1">Cairo Airport</option>
                            <option value="2">Luxor Airport</option>
                            <option value="3">Paris Airport</option>
                        </select>
                    </div>
                </div>
                <!-- Another row for two inputs -->
                <div class="d-flex justify-content-between mb-3">
                    <div class="form-group mb-3 " style="width:50%">
                        <label for="arriving_date">Arriving Date & Time</label>
                        <input type="datetime-local" class="form-control mb-2" id="arriving_date" required>
                    </div>
                    <div class="form-group " style="width:50%">
                        <label for="leaving_date">Leaving Date & Time</label>
                        <input type="datetime-local" class="form-control mb-2" id="leaving_date" required>
                    </div>
                </div>
                <div class="form-group " style="width:50%">
                    <label for="gate">Gate</label>
                    <select class="form-control mb-2" id="gate" required>
                        <option value="" disabled selected>Select Gate</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            
                <button type="submit" class="btn" style="background-color: #12cad6; color: white;">Create</button>
            </form>
        </div>



    </div>

    <!-- Centered form container -->
 
</div>




