@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
	ViewData["Logged"] = Convert.ToString(HttpContext.Session.GetString("email"));
}




<link rel="stylesheet" href="/css/site.css">

<style>
	body {
		background-color: #f7f6f6
	}

	.card {
		border: none;
		box-shadow: 5px 6px 6px 2px #e9ecef;
		border-radius: 4px;
	}


	.dots {
		height: 4px;
		width: 4px;
		margin-bottom: 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
	}

	.badge {
		padding: 7px;
		padding-right: 9px;
		padding-left: 16px;
		box-shadow: 5px 6px 6px 2px #e9ecef;
	}

	.user-img {
		margin-top: 4px;
	}

	.check-icon {
		font-size: 17px;
		color: #c3bfbf;
		top: 1px;
		position: relative;
		margin-left: 3px;
	}

	.form-check-input {
		margin-top: 6px;
		margin-left: -24px !important;
		cursor: pointer;
	}


		.form-check-input:focus {
			box-shadow: none;
		}


	.icons i {
		margin-left: 8px;
	}

	.reply {
		margin-left: 12px;
	}

		.reply small {
			color: #b7b4b4;
		}


			.reply small:hover {
				color: green;
				cursor: pointer;
			}

.sign-in-btnn {
	background-color: #00BFA5;
	color: white;
	border: none;
	padding: 10px 24px;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.sign-in-btnn:hover {
	background-color: #00A896;
}
</style>	

	
<div id="page">

	
<!-- <div class="page-inner"> -->
<nav class="gtco-nav" role="navigation">
	<div class="gtco-container">
			
		<div class="row flex-row">
			<div class="col-sm-4 col-xs-12" style="width:120px;">
				<div id="gtco-logo"><a href="index">ExoSky</a></div>
			</div>
		
				@{
					if (string.IsNullOrEmpty(Convert.ToString(ViewData["Logged"])))
					{
							<div class="col-xs-3 text-right menu-1" style="width:400px;">
							<ul>
								<li><a href="Search">Search</a></li>
								<li><a href="#about">About Us</a></li>
								
							
							</ul>
			
					</div>
					
						<a class="sign-in-btnn ms-auto" href="/signin" style="width:120px; height:40px; display:inline-block; text-align:center; line-height:30px; text-decoration:none;">Sign In</a>

					}
					else
					{  
						<div class="col-xs-3 text-right menu-1" style="width:400px;">
							<ul>
								<li><a href="Search">Search</a></li>
								<li><a href="reservation managment">Past Flights</a></li>
								<li><a href="Profile">Profile</a></li>
							
							</ul>
			
					</div>
						<form method="post" asp-page-handler="LogOut">
						<Button class="sign-in-btnn ms-auto" href="/signin" style="width:120px; height:40px; display:inline-block; text-align:center; line-height:30px; text-decoration:none;">Log Out</button>
						</form>


					}
				}

		</div>
			
	</div>
</nav>

	<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url('/images/Landing Page.jpeg?v=1');position:relative;padding: 20px;margin-left: -50vw; margin-right: -50vw;left: 50%; right: 50%;width: 100vw;">
		<div class="overlay"></div>
		<div class="gtco-container m-3" style="display: flex; justify-content: flex-end; align-items: center; height: 100%;">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-right">
					<!-- Aligns text to the right -->
					<div class="row row-mt-15em">
						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Planning Trip To Anywhere in The World?</h1>
							<div class="mx-auto my-5" style="width:20%;">
								<form method="post" asp-page-handler="landingB">
									<button style="background-color:#09C6AB;border-radius:5px;">Book Now</button>
								</form>
								
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</header>

	

<!-- Popular Destinations Section -->
<div id="popular-distinations" class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
				<h2>Most Popular Destination</h2>
					<p>From iconic landmarks to hidden gems</p> 
					
			</div>
		</div>
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="Search" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div>
							<img src="images/New York.jpeg" alt="Image" class="img-fluid">
					</figure>
					<div class="fh5co-text"  >
						<h2>New York, USA</h2>
						<p>The city that never sleeps, where dreams soar as high as its iconic skyline</p>
						<p><span class="btn btn-primary">Schedule a Trip</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="Search" class="fh5co-card-item image-popup">
					<figure>
						<div class="overlay"><i class="ti-plus"></i></div>
							<img src="images/Seoul.jpeg" alt="Image" class="img-fluid">
					</figure>
					<div class="fh5co-text">
						<h2>Seoul, South Korea</h2>
						<p> A dynamic blend of futuristic innovation and timeless traditions, illuminated by neon lights and rich culture</p>
						<p><span class="btn btn-primary">Schedule a Trip</span></p>
					</div>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="Search" class="fh5co-card-item image-popup">
						<figure style="width: 100%; height: auto; position: relative;">
							<div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
								<i class="ti-plus"></i>
							</div>
							<img src="images/Paris.jpg" alt="Image" class="img-fluid" style="width: 100%; height: auto; display: block;">
						</figure>

					<div class="fh5co-text">
						<h2>Paris, France</h2>
						<p>The city of love and light, where every corner tells a story of romance, art, and elegance</p>
						<p><span class="btn btn-primary">Schedule a Trip</span></p>
					</div>
				</a>
			</div>



		</div>
	</div>
</div>	
	
<!-- Beautiful Background Section -->
<div id="back" class="gtco-cover gtco-cover-sm" style="background-image:url('/images/landing3.jpeg?v=1'); height:60vw;" >
		<div class="overlay"></div>
		<div class="gtco-container text-center">
		<div class="display-t">
			<div class="display-tc">
				<h1>We have high quality services that you will surely love!</h1>
			</div>	
		</div>
	</div>
	</div>

<div id="about">

<div id="gtco-counter" class="gtco-section">
	<div class="gtco-container" >

		<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Our Success</h2>
					<p>At ExoSky, we're proud of our track record in delivering safe, punctual, and comfortable flights, earning trust from millions of passengers. Our commitment to excellence continues to drive our global growth and customer satisfaction.</p>
				</div>


		</div>

		<div class="row">
				
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="196" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Destination</span>

				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="97" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Luxury</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="12402" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Travelers</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="12202" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Happy Customer</span>

				</div>
			</div>
					
		</div>
	</div>
</div>
</div>



	

	




</div>


@* Reviewsss *@
<h2 class="card-title text-center" style="    font-size: 50px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: 300;">
	Our Clients Reviews
</h2>
<div class="container mt-5">
	<div class="col-md-10 d-flex justify-content-center " style="flex-direction: column;width:100%; background-color:#f4f4f4;">

		@{
			for(int i =0; i<3; i++)
			{
				<div class="review container mb-1">
					<div class="d-flex align-items-center mb-3">
						<div class="avatar avatar-info m-4 ">
							<span class="avatar-text rounded-circle">@Model.ReviewsTable.Rows[i][0].ToString()[0]</span>
						</div>
						<div>
							<h5 class="mb-1">@Model.ReviewsTable.Rows[i][0]</h5>
							<ul class="list-inline ms-auto mb-0">
								@{
									for(int j=0; j<(int)@Model.ReviewsTable.Rows[i][1]; j++)
									{
										<li class="list-inline-item mb-0">
											<i class="bi bi-star-fill text-warning"></i>
										</li>
									}
								}


								<li class="list-inline-item mb-0">@Model.ReviewsTable.Rows[i][1]</li>
							</ul>
						</div>
					</div>
					<div>@Model.ReviewsTable.Rows[i][2]</div>
				</div>
			}
			
		}
	


	</div>
</div>

<div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
	
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>

<!-- Stellar Parallax -->
<script src="js/jquery.stellar.min.js"></script>

<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
	
<!-- Datepicker -->
<script src="js/bootstrap-datepicker.min.js"></script>
	

<!-- Main -->
<script src="js/main.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Select all elements with the class 'avatar-text'
		const avatars = document.querySelectorAll(".avatar-text");

		avatars.forEach(avatar => {
			// Generate a random color
			const randomColor = "#" + Math.floor(Math.random() * 16777215).toString(16);

			// Apply the random color as background
			avatar.style.backgroundColor = randomColor;
		});
	});
</script>



